@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Montserrat:400,700,800,900');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
/*--reset--*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  --white: rgb(253, 253, 253);
  --red: rgb(223, 65, 65);
  --trans-red: rgba(223, 65, 65, .5);;
  --blue: rgb(50,55,83);
  --trans-blue: rgba(50,55,83, .75);
  --gray: rgb(240, 240, 240);
  --drop-shadow: rgba(29, 29, 29, 0.15);
}

body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  color: var(--blue);
  background-color: var(--white);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-weight: 700;
}
h2{
  font-size: 36px;
  text-transform: uppercase;
  color: var(--red);
}

h3{
  font-size: 24px;
  color: var(--blue);
}

a{
  text-decoration: none;
}

main{
  margin-left: 220px;
  margin-top: 40px;
}
section{
  display: block;
}
.content{
  position: relative;
  margin: 0 auto;
  max-width: 960px;
  clear: both;
  padding: 20px;
}
/*-------------------------------------------
---------------------------------------------
Header/Nav Styles
---------------------------------------------
-------------------------------------------*/

header {
  width: 200px;
  height: 100%;
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  background-color: var(--gray);
}

.nav-content{
  margin: auto 0;
  position: relative;
  top: 60px;
}

header h1{
  font-weight: 900;
  text-align: center;
  font-size: 64px;
  letter-spacing: -10px;
  margin-bottom: 40px;
}

header h1 a {
  color: var(--red);
}

.main-menu{
  font-size: 24px;
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-menu li {
  margin: 0 auto 40px auto;
  width: 160px;
}

.main-menu a{
  color: var(--trans-blue);
  text-transform: uppercase;
  padding: 5px 10px;
  width: 200px !important;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}


.main-menu a:hover{
  font-weight: 700;
  color: var(--white);
  color: var(--blue);
}
.nav-toggle{
  font-size: 24px;
  border: none;
  display: none;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.active{
  font-weight: 700;
  padding: 5px 10px;
  color: var(--blue) !important;
}

.social-links{
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.social-links li{
  margin-bottom: 20px;
}

.social-links a {
  color: var(--trans-blue);
}

.social-links a:hover {
  color: var(--blue);
}

/*-------------------------------------------
---------------------------------------------
Hero Styles
---------------------------------------------
-------------------------------------------*/
.hero-wrapper{
  width: 100%;
}
.hero .anchor{
  width: 45px;
  height: 45px;
  background-color: var(--red);
}
.hero h1{
  font-size: 72px;
  width: 300px;
  font-weight: 800;
  margin-left: 45px;
  position: relative;
  top: -19px;
  left: -4px;
}
.hero h1 span{
  color: var(--red);
}
.hero .sidebar{
  background-color: var(--red);
  width: 2px;
  height:185px;
  position: absolute;
  top: 330px;
  left: 25px;
}
.hero h3{
  color: var(--red);
  text-transform: uppercase;
  transform: rotate(-90deg);
  width: 300px; 
  position: absolute;
  left: -121px;
  top: 140px;
}
.hero p{
  width: 55%;
  margin-left: 45px;
}
.heroCTA{
  margin-top: 40px;
}
.heroCTA p{
  color: var(--red);
}
@media(max-width: 1140px){
  .hero h1{
    font-size: 72px
  }
  .hero .sidebar{
    height: 225px;
  }
}
@media(max-width: 960px){
  .hero p{
    width: 90%;
  }
}
@media(max-width: 768px){
  .hero .anchor{
    width: 25px;
    height: 25px;
  }
  .hero h1{
    font-size: 64px;
    top: -17px;
    left: -25px;
  }
  .hero h1 span{
    font-size: 72px;
  }
  .hero h3{
    font-size: 20px;
    left: -133px;
    top: 80px;
  }
  .hero .sidebar{
    display: none;
  }
  .hero p {
    margin-left: 0;
  }
}

/*-------------------------------------------
---------------------------------------------
Carousel Styles
---------------------------------------------
-------------------------------------------*/
.carouselUi{
  position: absolute;
  width: 450px;
  height: 330px;
  right: 10px;
  top: 50px;
}
.carouselControls{
  color: var(--trans-blue);
  font-size: 24px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  width: 150px;
  z-index: 3;
  left: 370px;
  top: 175px;
}
.carouselUi img{
  width: 350px;
  border-radius: 100%;
  z-index: -1;
  margin-left: 40px;
}
.carouselControls .arrows{
  padding: 0 10px;
}
.carouselControls .dots{
  margin-left: 3px;
  margin-top: 1px;
}
@media(max-width: 1140px){
  .carouselUi img{
    width: 300px;
    margin-left: 100px;
  }
  .carouselControls{
    top: 130px;
  }
}
@media(max-width: 960px){
  .carouselUi{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    top: 0;
  }
  .carouselUi img{
    margin: 0 auto;
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 250px;
  }
  .carouselUi .carouselControls{
    top: 275px;
    left: 75px;
    transform: rotate(180deg);
  }
}

/*-------------------------------------------
---------------------------------------------
Media Queries
---------------------------------------------
-------------------------------------------*/
@media (max-width: 768px){
  body{
    background-color: var(--white);
  }
  main{
    margin: 0;
  }
  header{
    padding: 0;
    width: 100%;
    background-color: var(--white);
    height: 60px;
    z-index: 3;
  }
  header h1{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 36px;
    letter-spacing: -5px;
  }
  header h1 a{
    color: var(--blue);
  }
  /*-------------------------
  Mobile Nav
  --------------------------*/
  .content{
    padding: 10px;
    margin-top: 60px;
  }
  nav{
    padding-top: 40px;
    box-shadow: -10px -10px 10px var(--drop-shadow);
    width: 200px;
    height: 100vh;
    background-color: var(--white);
    position: absolute;
    right: -250px;
    transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
    .nav-content{
      top: 0;
    }
    .nav-toggle{
      display: block;
    }
    .nav-open{
      right: 0;
    }
}

/*-------------------------------------------
---------------------------------------------
Universal Styles
---------------------------------------------
-------------------------------------------*/
.page-title{
  color: var(--blue);
  font-size: 36px;
  margin-left: 22px;
  margin-bottom: 70px;
  line-height: .75;
}
.interior-anchor{
  background-color: var(--red);
  width: 25px;
  height: 25px;
}
p{
  line-height: 1.84;
  color: var(--trans-blue);
}

button{
  margin-bottom: 20px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 16px;
}

@media(max-width: 768px){
  .page-title{
    margin-bottom: 30px;
  }
  button{
    font-size: 14px;
  }
  body{
    font-size: 14px;
  }
}

.btn-red{
  color: var(--blue);
  border: 2px solid var(--red);
  position: relative;
  padding: 7px 30px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-red:after{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -5px;
  background: var(--red);
  border-radius: 50%;
}
.btn-red:hover{
  background-color: var(--trans-red);
  color: var(--white);
  transform: scale(1.05)
}

.btn-blue{
  color: var(--red);
  border: 2px solid var(--blue);
  position: relative;
  padding: 7px 20px;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-blue:after{
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: -6px;
  top: 50%;
  margin-top: -5px;
  background: var(--blue);
  border-radius: 50%;
}
.btn-blue:hover{
  transform: scale(1.05);
  background-color: var(--trans-blue);
  color: var(--white)
}

/*-------------------------------------------
---------------------------------------------
Project Styles
---------------------------------------------
-------------------------------------------*/
.project-item{
  position: relative;
  margin-bottom: 80px;
}
.project-item h2{
  text-align: right;
  position: absolute;
  writing-mode: vertical-lr;
}
.project-item p,
.project-item ul{
  margin-bottom: 15px;
}
.project-item ul{
  line-height: 1.84;
  list-style: disc;
  margin-left: 20px;
  color: var(--trans-blue);
}
.project-copy{
  margin-left: 80px;
}
.project-item a{
  color: var(--blue);
  font-weight: 700;
  text-transform: uppercase;
}
.project-copy .github{
  color: var(--trans-blue);
  position: relative;
  font-size: 18px;
  margin-left: 10px;
}

@media(max-width: 758px){
  .project-item h2{
    writing-mode: horizontal-tb;
    position: relative;
    text-align: left;
  }
  .project-copy{
    margin-left: 0;
  }
}

/*-------------------------------------------
---------------------------------------------
About Styles
---------------------------------------------
-------------------------------------------*/
.about-block-1{
  display: grid;
  grid-template-columns: .5fr 3fr 4fr;
  grid-gap: 20px;
  margin-bottom: 40px;
}
.about-block-1 img, .about-block-2 img{
  width: 100%;
  box-shadow: 20px 20px 0px var(--red);
}

.about-block-1 .sidebar{
  border-left: 2px solid var(--red);
}

.lead1{
  color: var(--red);
  margin: 10px 0 40px 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.5;
  width: 80%;
  font-family: 'Montserrat', sans-serif;
}

.about-block-2{
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 20px;
  margin-bottom: 40px;
}
.lead2{
  color: var(--blue);
  margin: 40px 0 40px 0;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}
.about-block-1 p{
  margin-left: 40px;
  margin-top: 20px;
}
.about-block-2 p{
  text-align: right;
  margin-right: 40px;
}

@media(max-width: 768px){
  .about-block-1,
  .about-block-2{
    grid-template-columns: 1fr;
  }
  .lead1{
    font-size: 24px;
    width: 100%;
    margin-bottom: 0;
  }
  .about-block-1 p{
    margin-left: 0;
  }
  .about-block-2 p{
    text-align: left;
    margin-right: 0;
  }
  .lead2{
    font-size: 18px;
    margin: 10px 0 20px 0;
  }
}
@media(max-width: 1080px){
  .lead1{
    font-size: 36px;
    width: 100%;
  }
  .lead2{
    font-size: 24px;
  }
}

/*-------------------------------------------
---------------------------------------------
Blog Styles
---------------------------------------------
-------------------------------------------*/
.article{
  margin-top: 70px;
  border-bottom: 2px solid var(--trans-red);
  padding-bottom: 20px;
}
.article h3{
  width: 40%;
  line-height: 150%;
}

/*-------------------------------------------
---------------------------------------------
Contact Styles
---------------------------------------------
-------------------------------------------*/
.contact h2{
  writing-mode: vertical-lr;
  position: absolute;
}
.form-wrapper{
  position: relative;
}
form {
  width: 300px;
  margin-left: 60px;
  position: relative;
}
form label,
form input,
form textarea{
  width: 100%;
}
form div{
  margin-bottom: 20px;
}

form label{
  color: var(--trans-blue);
  font-weight: 700;
}
form input{
  height: 20px;
  font-size: 16px;
  padding-top: 5px;
}
form input,
form textarea{
  border-radius: 5px;
  border: 1px solid var(--drop-shadow);
  margin-top: 10px;
}
@media(max-width: 768px){
  .contact h2{
    writing-mode: horizontal-tb;
    position: relative;
    top: 0;
    left: 0;
  }
  form{
    margin-left: 0;
    width: 100%;
  }
}
